numpy==1.26.0
scikit-learn==1.4.2
mlflow==2.9.2
pandas==2.2.2
duckdb
polars==0.20.19
pytest==8.1.1
torch
torchvision
torchaudio
torchtext
matplotlib
seaborn
plotly
unstructured
langchain==0.1.16
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
transformer_lens
transformers[torch]